<div id="<%= dom_id(user) %>">
    <%= user.username %>
    <% if user != @chatroom.owner %>
        <%= button_to "person_remove", 
              chatroom_kick_user_path(@chatroom, user), 
              method: :put, 
              class: "material-icons-outlined" %>
    <% end %>
</div>